<div class="app">
    <div class="grid">
        <div class="container-product grid l-7 l-o-3">
                <div class="row">
                    <div class="style l-6 col">
                        <div class="row">
                            <div class="l-2 col">
                                <div class="style-img">
                                    <img src="{{product.image}}" alt="" class="style-img-list style-img-list-pro">
                                    <img src="{{product.image}}" alt="" class="style-img-list style-img-list-pro">
                                    <img src="{{product.image}}" alt="" class="style-img-list style-img-list-pro">
                                </div>
                            </div>
                            <div class="l-10 col">
                                <div class="style-main">
                                    <img src="{{product.image}}" alt="" class="style-img-list" main-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="information l-6 col">
                        <div class="information-logo">
                            <img src="https://file.hstatic.net/1000402464/file/fllogo_ba043f9b094d448b9d97d23a19b58ceb.png"
                                alt="" class="information-logo-freelancer">
                        </div>
                        <span class="information-name information-name-pro">{{product.fullName}}</span>
                        <span class="information-price information-price-pro">{{product.price}}</span>
                        <span class="information-code">Code: {{product.code}}</span>
                        <span class="information-note">
                            SẢN PHẨM CHÍNH HÃNG MIỄN PHÍ GIAO HÀNG (CHO HĐ TỪ 299K)
                        </span>
                        <div class="information-color">
                            <span class="information-color-text">
                                Vui lòng chọn màu
                            </span>
                            <span class="information-color-box click-choose"></span>
                        </div>
                        <span class="information-support">
                            <a href="" class="information-support-link">
                                <span class="information-support-icon">
                                    <i class="fa-solid fa-ruler-horizontal"></i>
                                </span>
                                <span class="information-support-text">
                                    HƯỚNG DẪN CHỌN SIZE
                                </span>
                            </a>
                        </span>
                        <div class="information-size">
                            <span class="information-size-text">
                                Vui lòng chọn size
                            </span>
                            <div class="information-size-button">
                                <div class="information-size-button-box">
                                    <div class="information-size-button-type">S</div>
                                    <div class="information-size-button-icon">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </div>
                                </div>
                                <div class="information-size-heart">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="information-input">
                            <span class="information-input-icon">
                                <i class="fa-solid fa-minus"></i>
                            </span>
                            <div class="information-input-text">
                                <input type="text" class="click-input">
                            </div>
                            <span class="information-input-icon">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                        </div>
                        <div class="information-button">
                            <button class="information-button-buy">MUA NGAY</button>
                            <a onclick="themvaogio()" class="information-button-add">THÊM VÀO GIỎ</a>
                        </div>
                        <div class="information-product">
                            <label for="product" class="information-product-box">
                                <div class="information-product-box">
                                    <div class="information-product-header">
                                        MÔ TẢ SẢN PHẨM
                                    </div>
                                    <div class="information-product-icon">
                                        <i class="fa-solid fa-minus"></i>
                                    </div>
                                </div>
                            </label>
                            <input type="checkbox" class="dd-product" id="product">
                            <div class="information-product-container dd-menu-product">
                                <ul class="information-product-container-ul">
                                    <li class="information-product-container-li">Form đầm chữ A, cổ tim đắp chéo kết hợp
                                        tay
                                        xếp ly tạo độ phồng, đồng thời giúp che đi phần bắp tay/vai, mang đến cho người
                                        mặc
                                        vẻ trang nhã và sang trọng. Phần eo thắt nơ bên hông và tùng váy chữ A giúp che
                                        khuyết điểm “eo bánh mì” tạo điểm nhấn nhẹ nhàng và tinh tế </li>
                                    <li class="information-product-container-li">Kiểu wrapdress với lớp vải xếp chồng
                                        lên
                                        nhau một cách khéo léo, khắc phục những khuyết điểm ở vòng 1 sẽ giúp nàng thêm
                                        tự
                                        tin, duyên dáng khi mặc nó xuống phố hay đi làm </li>
                                    <li class="information-product-container-li">Họa tiết da beo nhí mang đến vẻ thanh
                                        lịch
                                        và quý phái cho các quý cô.</li>
                                </ul>
                            </div>
                            <div class="information-product-img">
                                <img src="https://file.hstatic.net/1000402464/file/6d2ebf1953a09ffec6b1_377674c0d84a4ea7b7d1d1823a3db2d0_grande.jpg"
                                    alt="" class="information-product-img-link">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>