<div class="app">
    <div class="grid">
        <div class="header grid">
            <div class="header-banner l-8 l-o-2">
                <div class="header-banner-text">
                    <span class="header-banner-text-name">
                        FREELANCER FOR HER
                    </span>
                </div>
            </div>
            <div class="header_option l-8 l-o-2">
                <div class="header_option-product">
                    <ul class="header_option-product">
                        <li class="header_option-product-price">
                            <label for="test" class="header_option-product-price">
                                <div class="header_option-product-price-icon">
                                    <i class="fa-solid fa-list-ul"></i>
                                </div>
                                <div class="header_option-product-price-text">
                                    Giá sản phẩm
                                </div>
                                <div class="header_option-product-price-icon-last">
                                    <i class="fa-solid fa-angle-down"></i>
                                </div>
                            </label>
                            <input type="checkbox" class="dd-input" id="test">
                            <div class="header_option-product-price-table dd-menu">
                                <div class="header_option-product-price-table-header">
                                    0 lựa chọn
                                </div>
                                <div class="price-table-container-tick ">
                                    <ul class="price-table-container-tick-ul">
                                        <li class="price-table-container-tick-li color-choose">Dưới 500,000đ</li>
                                        <li class="price-table-container-tick-li">500,000đ - 1,000,000đ</li>
                                        <li class="price-table-container-tick-li">1,000,000đ - 1,500,000đ</li>
                                        <li class="price-table-container-tick-li">2,000,000đ - 5,000,000đ</li>
                                        <li class="price-table-container-tick-li">Trên 5,000,000đ</li>
                                    </ul>
                                </div>
                        </li>
                        <li class="header_option-product-brand">
                            <label for="test1" class="header_option-product-brand">
                                <div class="header_option-product-price-icon">
                                    <i class="fa-solid fa-list-ul"></i>
                                </div>
                                <div class="header_option-product-price-text">
                                    Thương hiệu
                                </div>
                                <div class="header_option-product-brand-icon-last">
                                    <i class="fa-solid fa-angle-down"></i>
                                </div>
                            </label>
                            <input type="checkbox" class="dd-input1" id="test1">
                            <div class="header_option-product-brand-table dd-menu1">
                                <div class="header_option-product-price-table-header">
                                    0 lựa chọn
                                </div>
                                <div class="brand-table-container-tick">
                                    <ul class="price-table-container-tick-ul">
                                        <li class="price-table-container-tick-li">Freelancer</li>
                                        <li class="price-table-container-tick-li">Freelancer - Special Offer</li>
                                        <li class="price-table-container-tick-li">John Henry - Special Offer</li>
                                        <li class="price-table-container-tick-li">John Henry</li>
                                        <li class="price-table-container-tick-li">Áo kiểu nữ Freelancer</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="header_option-product-types">
                            <label for="test2" class="header_option-product-types">
                                <div class="header_option-product-price-icon">
                                    <i class="fa-solid fa-list-ul"></i>
                                </div>
                                <div class="header_option-product-price-text">
                                    Loại sản phẩm
                                </div>
                                <div class="header_option-product-types-icon-last">
                                    <i class="fa-solid fa-angle-down"></i>
                                </div>
                            </label>
                            <input type="checkbox" class="dd-input2" id="test2">
                            <div class="header_option-product-types-table  dd-menu2">
                                <div class="header_option-product-price-table-header">
                                    0 lựa chọn
                                </div>
                                <div class="types-table-container-tick ">
                                    <ul class="price-table-container-tick-ul">
                                        <li class="price-table-container-tick-li">Áo Blouse Nữ</li>
                                        <li class="price-table-container-tick-li">Chân Váy</li>
                                        <li class="price-table-container-tick-li">Áo Polo Nữ</li>
                                        <li class="price-table-container-tick-li">Áo Len Nữ</li>
                                        <li class="price-table-container-tick-li">Quần Khaki Nữ</li>
                                        <li class="price-table-container-tick-li">Quần Tây Nữ</li>
                                        <li class="price-table-container-tick-li">Đầm</li>
                                        <li class="price-table-container-tick-li">Áo Sơ Mi Nữ</li>
                                        <li class="price-table-container-tick-li">Quần Short Nữ</li>
                                        <li class="price-table-container-tick-li">Quần Jean Nữ</li> -->
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="header_option-docking">
                    <label for="test3" class="header_option-docking">
                        <div class="header_option-docking-icon">
                            <i class="fa-solid fa-list-ul"></i>
                        </div>
                        <div class="header_option-docking-text">
                            Sắp xếp theo
                        </div>
                        <div class="header_option-docking-last">
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </label>
                    <input type="checkbox" class="dd-input3" id="test3">
                    <div class="header_option-product-docking-table dd-menu3">
                        <div class="header_option-product-price-table-header">
                            0 lựa chọn
                        </div>
                        <div class="docking-table-container-tick">
                            <ul class="price-table-container-tick-ul">
                                <li class="price-table-container-tick-li">Giá: Từ Thấp Đến Cao</li>
                                <li class="price-table-container-tick-li">Giá: Từ Cao Đến Thấp</li>
                                <li class="price-table-container-tick-li">JMới nhất</li>
                                <li class="price-table-container-tick-li">JTên: A-Z</li>
                                <li class="price-table-container-tick-li">Tên: Z-A</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container grid l-8 l-o-2">
            <div class="row">

                {{#each Products}}
                <div class="l-3 col">
                    <div class="container_product">
                        <a href="/products/{{this.slug}}" class="container_product-link">
                            <img src="{{this.image}}" alt="" class="container_product-link-img">
                        </a>
                        <span class="container_product-price">
                            {{this.price}}
                        </span>
                        <a href="/products/{{this.slug}}" class="container_product-link-text">
                            {{this.name}}
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="products">
            <a href="#" class="products-text">XEM THÊM SẢN PHẨM</a>
        </div>
    </div>
</div>